<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://is3-ssl.mzstatic.com/image/thumb/ZypiNEdbU0wwCF0GMJ3zoA/1200x675mf.jpg"
    alt=""
    height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>


  <div class="big-card__description">
    <p>
       <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi aliquam atque numquam, modi quo. Sit at impedit cum, maxime veritatis deleniti repellat expedita maiores molestias enim architecto tenetur? Mollitia.
      </a>
    </p>
  </div>

</div>
